body {
  background-color: #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.tag-list {
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.inner {
  display: flex;
  width: max-content;
  gap: 1rem;
  animation: loop 20s linear infinite;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #334155;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d,
    0 0.2rem 1.5rem #00000066;
  transition: transform 0.2s ease-in-out;
}

.tag:hover {
  transform: scale(1.05);
  background-color: #475569;
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  position: absolute;
  background: linear-gradient(
    90deg,
    #1e293b,
    transparent 30%,
    transparent 70%,
    #1e293b
  );
  inset: 0;
  pointer-events: none;
  z-index: 2;
  display: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
}
